# notebook folder is recursively copied. Its content is not explicitly
# mentioned in Python code, so having these files in MANIFEST.in is needed.
recursive-include src/fastoad/notebooks *
exclude .gitignore
