{%- set base_url = 'https://fast-aircraft-design.github.io/website/' -%}
{%- set external_urls = {
  'github': 'https://github.com/fast-aircraft-design/FAST-OAD',
  'github_issues': 'https://github.com/fast-aircraft-design/FAST-OAD/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'https://fast-oad.readthedocs.io/en/v1.0.1/',
  'tutorials': base_url + 'tutorials/hello_world/',
  'publications': base_url + 'publications/',
  'home': base_url,
  'get_started': base_url + 'get-started/',
  'blog': base_url + 'blog/',
  'acknowledgements': base_url + 'acknowledgements/',
}
-%}
