.admonition.parameters {
    background-color: #ddddee;
  /*  border-left: 0px solid #007acc; */
  /*  padding: 0px;  */
  color: #333;
}
.admonition.parameters .admonition-title {
    /* color: #ffffff; */
    background-color: #888899;
}
.admonition.applies-to {
    background-color: #ccddcc;
  /*  border-left: 0px solid #007acc; */
  /*  padding: 0px;  */
  /*  color: #333; */
}
.admonition.applies-to .admonition-title {
    /* color: #ffffff; */
    background-color: #778877;
}
