name: Tests

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') }}
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.13" ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v4
      - name: Set up MPI
        uses: mpi4py/setup-mpi@v1
        with:
          mpi: ${{ (runner.os == 'Windows') && 'microsoftmpi' || 'openmpi' }} # openmpi and microsoftmpi are the only MPI implementations that works
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.1.3
          virtualenvs-create: true
          # virtualenvs-in-project: true # These should stay false iw we want to use caching
          # virtualenvs-path: .venv
          installer-parallel: true

      - name: Load cached venv # Copied from https://github.com/snok/install-poetry/blob/d526ede1e27960b7b181a5ac53044f552afdaa38/README.md
      # load cached venv if cache exists
      # restore-keys allow fallback cache hits when the exact key is not found.
      # GitHub Actions will try to restore any cache whose key *starts with* the prefixes listed here.
      # This helps reuse older venv caches for the same OS & Python version when poetry.lock changes slightly,
      # instead of reinstalling all dependencies from scratch.
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            venv-${{ matrix.os }}-${{ matrix.python-version }}-

      - name: Install dependencies # Heavy dependencies (cached) - only runs on cache miss
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install -E mpi --no-interaction --no-root

      - name: Install library # Light project install (always runs) - runs every time
        run: poetry install -E mpi --no-interaction

      - name: Check with Ruff
        run: |
          poetry run ruff check .           # Check coding rules
          poetry run ruff format --check .  # Check format and import sorting
        shell: bash
      
      ## Tests without MPI
      # Runners that won't send coverage report are run without coverage overhead
      - name: Unit tests without coverage
        if: ${{( runner.os != 'Linux' || matrix.python-version != '3.10' )}}
        run: poetry run pytest src -m "not mpi"
        shell: bash
      
      ## Tests with MPI
      - name: MPI unit tests
        run: poetry run mpiexec -n 1 pytest src -m mpi
        shell: bash

      - name: Unit tests with coverage
        # Only for runner that will send coverage reports (see below)
        if: ${{ runner.os == 'Linux' && matrix.python-version == '3.10' }}
        run: |
          poetry run mpiexec -n 1 pytest src --cov
          poetry run coverage xml  # for sending coverage report
        shell: bash

      - name: Run codacy coverage reporter
        if: ${{ runner.os == 'Linux' && matrix.python-version == '3.10' }} # This step runs only on Linux
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.codacy }}
        run: |
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r coverage.xml
        shell: bash

      - name: Publish code coverage on Codecov
        uses: codecov/codecov-action@v4
        if: ${{ runner.os == 'Linux' && matrix.python-version == '3.10' }}
        with:
          #          flags: unittests  # optional
          name: codecov-FAST-OAD  # optional
          fail_ci_if_error: false  # optional (default = false)
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV }} # do not use the secret directly in run command, it would write it plainly in the log

      - name: Integration tests
        run: poetry run pytest --no-cov tests/integration_tests
        shell: bash

      - name: Memory tests
        run: poetry run pytest --no-cov tests/memory_tests
        shell: bash

      # There is a problem with notebook tests in MPI environment
      - name: Deactivate MPI
        run: poetry run pip uninstall mpi4py --yes
        shell: bash

      - name: Notebook tests
        #        if: ${{ github.event_name == 'pull_request' || contains(github.event.head_commit.message, '[test nb]') || github.ref == 'refs/heads/master' }}
        run: poetry run pytest --no-cov --nbval-lax -p no:python src/fastoad/notebooks
        shell: bash
